@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    background-color: #3f3f3f
}
.container__body{
    color: honeydew;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

.guess__container{
    margin: 0.5rem;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.1rem;
    border: 1px solid black;
    border-radius: 1rem;
    background: gainsboro;
}
img{
    border: 1px solid transparent;
    display: block;
    border-radius: 1rem;
    width: 50%;
}
.wrong{
    text-align: center;
    background: red;
    border-radius: 0.5rem;
    color: white;
    border: black 2px solid;
}
.right{
   text-align: center;
    background: green;
    border-radius: 0.5rem;
    color: black;
    border: black 2px solid;
}
h1{
    text-align: center;
}
section{
    text-align: center;
    margin-top: 2rem;
}
.button__purple {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}